/****** Object:  Table [dbo].[conversation_notes]    Script Date: 7/9/2025 9:58:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conversation_notes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[conversation_id] [int] NOT NULL,
	[sales_rep_id] [int] NOT NULL,
	[content] [text] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[conversation_responses]    Script Date: 7/9/2025 9:58:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conversation_responses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[conversation_id] [int] NOT NULL,
	[question_id] [nvarchar](100) NOT NULL,
	[response_value] [text] NOT NULL,
	[scores_ka] [int] NOT NULL,
	[scores_ika] [int] NOT NULL,
	[scores_fa] [int] NOT NULL,
	[scores_ma] [int] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[conversations]    Script Date: 7/9/2025 9:58:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conversations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sales_rep_id] [int] NULL,
	[surgeon_name] [nvarchar](255) NOT NULL,
	[hospital_id] [int] NOT NULL,
	[surgery_center_id] [int] NOT NULL,
	[surgeon_volume_per_year] [nvarchar](10) NOT NULL,
	[uses_robotics] [bit] NOT NULL,
	[current_alignment] [nvarchar](10) NOT NULL,
	[conversation_date] [date] NOT NULL,
	[status] [nvarchar](50) NULL,
	[notes] [text] NULL,
	[recommended_approach] [nvarchar](50) NULL,
	[alignment_score_ka] [int] NULL,
	[alignment_score_ika] [int] NULL,
	[alignment_score_fa] [int] NULL,
	[alignment_score_ma] [int] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[glossary]    Script Date: 7/9/2025 9:58:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[glossary](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[term] [nvarchar](255) NOT NULL,
	[definition] [nvarchar](max) NOT NULL,
	[category] [nvarchar](100) NULL,
	[synonyms] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hospitals]    Script Date: 7/9/2025 9:58:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hospitals](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[city] [nvarchar](100) NULL,
	[state] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[surgery_centers]    Script Date: 7/9/2025 9:58:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[surgery_centers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[city] [nvarchar](100) NULL,
	[state] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 7/9/2025 9:58:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[role] [nvarchar](50) NOT NULL,
	[saml_id] [nvarchar](255) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[conversation_responses] ON 

INSERT [dbo].[conversation_responses] ([id], [conversation_id], [question_id], [response_value], [scores_ka], [scores_ika], [scores_fa], [scores_ma], [created_at], [updated_at]) VALUES (38, 3, N'q1_deviation_hka', N'"no"', 0, 0, 0, 2, CAST(N'2025-07-08T12:06:55.8166667' AS DateTime2), CAST(N'2025-07-08T12:06:57.7800000' AS DateTime2))
INSERT [dbo].[conversation_responses] ([id], [conversation_id], [question_id], [response_value], [scores_ka], [scores_ika], [scores_fa], [scores_ma], [created_at], [updated_at]) VALUES (39, 3, N'q2_primary_goal_tka', N'"neutral"', 0, 0, 0, 2, CAST(N'2025-07-08T12:07:00.4233333' AS DateTime2), CAST(N'2025-07-08T12:07:00.4233333' AS DateTime2))
INSERT [dbo].[conversation_responses] ([id], [conversation_id], [question_id], [response_value], [scores_ka], [scores_ika], [scores_fa], [scores_ma], [created_at], [updated_at]) VALUES (40, 3, N'q3_surgical_workflow', N'"tibia_first"', 0, 2, 0, 0, CAST(N'2025-07-08T12:07:01.9233333' AS DateTime2), CAST(N'2025-07-08T12:07:01.9233333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[conversation_responses] OFF
GO
SET IDENTITY_INSERT [dbo].[conversations] ON 

INSERT [dbo].[conversations] ([id], [sales_rep_id], [surgeon_name], [hospital_id], [surgery_center_id], [surgeon_volume_per_year], [uses_robotics], [current_alignment], [conversation_date], [status], [notes], [recommended_approach], [alignment_score_ka], [alignment_score_ika], [alignment_score_fa], [alignment_score_ma], [created_at], [updated_at]) VALUES (3, 1, N'Dr. Manuel A Lignment', 1, 1, N'< 100', 0, N'MA', CAST(N'2025-07-08' AS Date), N'completed', NULL, N'MA', 4, 2, 0, 10, CAST(N'2025-07-08T12:06:45.4233333' AS DateTime2), CAST(N'2025-07-08T13:21:18.5900000' AS DateTime2))
INSERT [dbo].[conversations] ([id], [sales_rep_id], [surgeon_name], [hospital_id], [surgery_center_id], [surgeon_volume_per_year], [uses_robotics], [current_alignment], [conversation_date], [status], [notes], [recommended_approach], [alignment_score_ka], [alignment_score_ika], [alignment_score_fa], [alignment_score_ma], [created_at], [updated_at]) VALUES (4, 1, N'Dr. Kin A Matic', 1, 1, N'< 200', 1, N'KA', CAST(N'2025-07-10' AS Date), N'completed', NULL, N'KA', 15, 1, 1, 0, CAST(N'2025-07-08T13:09:57.8866667' AS DateTime2), CAST(N'2025-07-08T13:21:09.2833333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[conversations] OFF
GO
SET IDENTITY_INSERT [dbo].[glossary] ON 

INSERT [dbo].[glossary] ([id], [term], [definition], [category], [synonyms], [created_at], [updated_at]) VALUES (1, N'Sagittal Plane', N'A vertical plane that divides the body into left and right sections. In TKA, this plane is used to assess front-to-back motion, like knee flexion and extension.', N'Anatomy', NULL, CAST(N'2025-07-01T16:23:56.3500000' AS DateTime2), CAST(N'2025-07-01T16:23:56.3500000' AS DateTime2))
INSERT [dbo].[glossary] ([id], [term], [definition], [category], [synonyms], [created_at], [updated_at]) VALUES (2, N'Sagittal Plane Alignment', N'Refers to alignment viewed from the side, particularly focusing on tibial slope and femoral flexion angle.', N'Alignment', N'Sagittal Plan Alignment', CAST(N'2025-07-01T16:23:56.3500000' AS DateTime2), CAST(N'2025-07-01T16:23:56.3500000' AS DateTime2))
INSERT [dbo].[glossary] ([id], [term], [definition], [category], [synonyms], [created_at], [updated_at]) VALUES (3, N'Coronal Plane', N'A vertical plane that divides the body into front (anterior) and back (posterior) sections. It''s important in TKA for evaluating limb alignment, like varus or valgus deformities.', N'Anatomy', NULL, CAST(N'2025-07-01T16:23:56.3500000' AS DateTime2), CAST(N'2025-07-01T16:23:56.3500000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[glossary] OFF
GO
SET IDENTITY_INSERT [dbo].[hospitals] ON 

INSERT [dbo].[hospitals] ([id], [name], [city], [state], [created_at], [updated_at]) VALUES (1, N'JHU', NULL, NULL, CAST(N'2025-07-01T12:36:57.6733333' AS DateTime2), CAST(N'2025-07-01T12:36:57.6733333' AS DateTime2))
INSERT [dbo].[hospitals] ([id], [name], [city], [state], [created_at], [updated_at]) VALUES (2, N'UMBC', NULL, NULL, CAST(N'2025-07-01T16:02:53.1766667' AS DateTime2), CAST(N'2025-07-01T16:02:53.1766667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[hospitals] OFF
GO
SET IDENTITY_INSERT [dbo].[surgery_centers] ON 

INSERT [dbo].[surgery_centers] ([id], [name], [city], [state], [created_at], [updated_at]) VALUES (1, N'JHU ASC', NULL, NULL, CAST(N'2025-07-01T12:36:57.6833333' AS DateTime2), CAST(N'2025-07-01T12:36:57.6833333' AS DateTime2))
INSERT [dbo].[surgery_centers] ([id], [name], [city], [state], [created_at], [updated_at]) VALUES (2, N'UMBC ASC', NULL, NULL, CAST(N'2025-07-01T16:02:53.1900000' AS DateTime2), CAST(N'2025-07-01T16:02:53.1900000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[surgery_centers] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [email], [name], [role], [saml_id], [is_active], [created_at], [updated_at]) VALUES (1, N'test@jj.com', N'Test Sales Rep', N'sales_rep', NULL, 1, CAST(N'2025-06-11T11:36:22.6566667' AS DateTime2), CAST(N'2025-06-11T11:36:22.6566667' AS DateTime2))
INSERT [dbo].[users] ([id], [email], [name], [role], [saml_id], [is_active], [created_at], [updated_at]) VALUES (2, N'surgeon@hospital.com', N'Dr. Test Surgeon', N'surgeon', NULL, 1, CAST(N'2025-06-11T11:36:22.6566667' AS DateTime2), CAST(N'2025-06-11T11:36:22.6566667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [UQ_conversation_notes_conversation_sales_rep]    Script Date: 7/9/2025 9:58:13 AM ******/
ALTER TABLE [dbo].[conversation_notes] ADD  CONSTRAINT [UQ_conversation_notes_conversation_sales_rep] UNIQUE NONCLUSTERED 
(
	[conversation_id] ASC,
	[sales_rep_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__conversa__B3F25FCF2DE0D3CD]    Script Date: 7/9/2025 9:58:13 AM ******/
ALTER TABLE [dbo].[conversation_responses] ADD UNIQUE NONCLUSTERED 
(
	[conversation_id] ASC,
	[question_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__glossary__E0F9670FC00861CD]    Script Date: 7/9/2025 9:58:13 AM ******/
ALTER TABLE [dbo].[glossary] ADD UNIQUE NONCLUSTERED 
(
	[term] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__hospital__72E12F1B03F61967]    Script Date: 7/9/2025 9:58:13 AM ******/
ALTER TABLE [dbo].[hospitals] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__surgery___72E12F1B145B2AE2]    Script Date: 7/9/2025 9:58:13 AM ******/
ALTER TABLE [dbo].[surgery_centers] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E6164ADF5521D]    Script Date: 7/9/2025 9:58:13 AM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[conversation_notes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[conversation_notes] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[conversation_responses] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[conversation_responses] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[conversations] ADD  DEFAULT ('in_progress') FOR [status]
GO
ALTER TABLE [dbo].[conversations] ADD  DEFAULT ((0)) FOR [alignment_score_ka]
GO
ALTER TABLE [dbo].[conversations] ADD  DEFAULT ((0)) FOR [alignment_score_ika]
GO
ALTER TABLE [dbo].[conversations] ADD  DEFAULT ((0)) FOR [alignment_score_fa]
GO
ALTER TABLE [dbo].[conversations] ADD  DEFAULT ((0)) FOR [alignment_score_ma]
GO
ALTER TABLE [dbo].[conversations] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[conversations] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[glossary] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[glossary] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[hospitals] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[hospitals] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[surgery_centers] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[surgery_centers] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[conversation_notes]  WITH CHECK ADD  CONSTRAINT [FK_conversation_notes_conversation] FOREIGN KEY([conversation_id])
REFERENCES [dbo].[conversations] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[conversation_notes] CHECK CONSTRAINT [FK_conversation_notes_conversation]
GO
ALTER TABLE [dbo].[conversation_notes]  WITH CHECK ADD  CONSTRAINT [FK_conversation_notes_sales_rep] FOREIGN KEY([sales_rep_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[conversation_notes] CHECK CONSTRAINT [FK_conversation_notes_sales_rep]
GO
ALTER TABLE [dbo].[conversation_responses]  WITH CHECK ADD FOREIGN KEY([conversation_id])
REFERENCES [dbo].[conversations] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[conversations]  WITH CHECK ADD FOREIGN KEY([hospital_id])
REFERENCES [dbo].[hospitals] ([id])
GO
ALTER TABLE [dbo].[conversations]  WITH CHECK ADD FOREIGN KEY([sales_rep_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[conversations]  WITH CHECK ADD FOREIGN KEY([surgery_center_id])
REFERENCES [dbo].[surgery_centers] ([id])
GO
ALTER TABLE [dbo].[conversation_responses]  WITH CHECK ADD CHECK  (([scores_ka]>=(0) AND [scores_ka]<=(4)))
GO
ALTER TABLE [dbo].[conversation_responses]  WITH CHECK ADD CHECK  (([scores_ika]>=(0) AND [scores_ika]<=(4)))
GO
ALTER TABLE [dbo].[conversation_responses]  WITH CHECK ADD CHECK  (([scores_fa]>=(0) AND [scores_fa]<=(4)))
GO
ALTER TABLE [dbo].[conversation_responses]  WITH CHECK ADD CHECK  (([scores_ma]>=(0) AND [scores_ma]<=(4)))
GO
ALTER TABLE [dbo].[conversations]  WITH CHECK ADD CHECK  (([current_alignment]='MA' OR [current_alignment]='FA' OR [current_alignment]='iKA' OR [current_alignment]='KA'))
GO
ALTER TABLE [dbo].[conversations]  WITH CHECK ADD CHECK  (([recommended_approach]='MA' OR [recommended_approach]='FA' OR [recommended_approach]='iKA' OR [recommended_approach]='KA'))
GO
ALTER TABLE [dbo].[conversations]  WITH CHECK ADD CHECK  (([status]='abandoned' OR [status]='completed' OR [status]='in_progress'))
GO
ALTER TABLE [dbo].[conversations]  WITH CHECK ADD CHECK  (([surgeon_volume_per_year]='> 200' OR [surgeon_volume_per_year]='< 200' OR [surgeon_volume_per_year]='< 100' OR [surgeon_volume_per_year]='< 50'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([role]='admin' OR [role]='surgeon' OR [role]='sales_rep'))
GO
