<configuration>

	<appSettings>
		<add key="MODE" value="staging" />
		<add key="SITE_KEY" value="plethoraofpinatas" />
		<add key="WHITELIST" value="https://s4stage.com/pathfinder" />
	</appSettings>

  <system.webServer>

    <!-- indicates that the app.js file is a node.js application
    to be handled by the iisnode module -->

    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
	
	<iisnode
      nodeProcessCommandLine="&quot;%programfiles%\nodejs_other\nodejs_v22.0.0\node.exe&quot;" 
      interceptor="&quot;%programfiles%\iisnode\interceptor.js&quot;"
	  node_env="staging" />
	  	
	<modules>
		<remove name="WebDAVModule"/>
	</modules>

	<rewrite>
		<rules>
			<rule name="http to https" stopProcessing="true">
				<match url="(.*)" />
				<conditions>
					<add input="{HTTPS}" pattern="^OFF$" />
				</conditions>
				<action type="Redirect" url="https://pathfinder-api.s4stage.com/{R:1}" redirectType="SeeOther" />
			</rule>
			<rule name="/">
			<match url="/*" />
				<action type="Rewrite" url="server.js" />
			</rule>
		</rules>
	</rewrite>


		<!-- exclude node_modules directory and subdirectories from serving
			by IIS since these are implementation details of node.js applications -->
	<security>
		<requestFiltering>
			<hiddenSegments>
				<add segment="node_modules" />
			</hiddenSegments>
		</requestFiltering>
	</security>

  </system.webServer>
</configuration>
